<template>
  <div class="about">
    <GameTitle></GameTitle>

    <p>Game of dream, created for teaching!</p>
    <p>
      Author: <strong>Maxim Yudin</strong>
    </p>
    <p>
      If you have any questions about this game and Vue.js - <br>
      you can ask it via <a target="_blank" href="https://www.facebook.com/mxlpitelik">facebook</a> or <a target="_blank" href="https://www.linkedin.com/in/maxim-yudin-16114248/">LinkedIn</a>
    </p>
    <p>
      Also you can visit our <a target="_blank" href="http://vuejs.com.ua">web-site</a>
    </p>

    <nav>
      <router-link class="goback" to="/">...go back</router-link>
    </nav>
  </div>
</template>

<style scoped>
p{
  color: gray;
  font-size: 20px;
}
a{
  color: whitesmoke;
}
.goback{
  display: block;
  font-size: 30px;
  font-style: normal;
  text-decoration: none;
  line-height: 80px;
  color: whitesmoke;
}
a:hover{
  font-weight: bold;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import GameTitle from '@/components/GameTitle.vue'; // @ is an alias to /src

@Component({
  components: {
    GameTitle,
  },
})
export default class About extends Vue {}
</script>
