<template>
  <div class="game">
    <GameTitle small=true></GameTitle>

    turn #{{ getTurnCounter }}
    <div class="gamefield">
      <div class="row" v-for="row in size" :key="row">
        <Cell v-for="col in size" :key="col" :row="row" :col="col"></Cell>
      </div>
    </div>

    <!-- <div class="gamefield">
      <div class="row">
        <Cell position=1></Cell>
        <Cell position=2></Cell>
        <Cell position=3></Cell>
      </div>
      <div class="row">
        <Cell position=4></Cell>
        <Cell position=5></Cell>
        <Cell position=6></Cell>
      </div>
      <div class="row">
        <Cell position=7></Cell>
        <Cell position=8></Cell>
        <Cell position=9></Cell>
      </div>
    </div> -->

    <router-link to="/">back to menu</router-link>
  </div>
</template>

<style>
  .gamefield{
    margin-bottom: 50px;
  }
  a{
    color: grey;
    text-decoration: none;
    margin-top: 50px;
  }
  a:hover{
    font-weight: bold;
    color: white;
  }
</style>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
import GameTitle from '@/components/GameTitle.vue'; // @ is an alias to /src
import Cell from '@/components/Cell.vue'; // @ is an alias to /src
import { GameData, XOXOArray, XOXO } from '@/types';
import checkWinner from '@/lib/checkWinner';
import botDecision from '@/lib/botDecision';
import { Getter, State, Action } from 'vuex-class';

@Component({
  components: {
    GameTitle,
    Cell,
  },
})
export default class Game extends Vue {

  // вместо простейшего геттера мы также можем использовать декоратор стэйт
  // get getTurnCounter(): number {
  //   return this.$store.state.game.count + 1;
  // }

  @State((state) => state.game.count + 1) private readonly getTurnCounter!: number;

  // но я не сторонник прямого доступа к стэйтам - так как появляетсья жесткая связь
  // компонента и структуры стэйта

  @Getter private readonly versus!: boolean;
  @Getter private readonly gameOver!: boolean;

  @Getter private readonly size!: number;
  @Getter private readonly symbol!: XOXO;

  @Getter private readonly gameData!: XOXOArray;

  get botTurn(): boolean {
    if ( !this.versus && this.symbol === XOXO.o ) {
      return true;
    } else {
      return false;
    }
  }

  @Action private readonly changeSymbol!: any;
  @Action private readonly saveValue!: any;
  @Action private readonly newGame!: any;

  @Watch('gameData') public async onDataChanged(data: XOXOArray) {
    if (this.getTurnCounter > 1) {
      const size = this.size;
      const max = size * size;

      const winner = checkWinner(data, size);

      if (winner !== XOXO.empty) {
        this.$store.dispatch('gameOver');
        const symbol = (winner === XOXO.x) ? 'X' : 'O';
        alert(`Good game! Player [ ${symbol} ] win!`);
      } else if (this.getTurnCounter > max ) {
        this.$store.dispatch('gameOver');
        alert('Game Over! No winners, no losers...');
      } else if (this.botTurn) {
        const position = await botDecision(this.size, data);

        await this.changeSymbol();
        await this.saveValue({ position, value: XOXO.o });
      }
    }
  }

  private async mounted() {
    // для того чтоб после перезагрузки мы стёрли все
    const params = this.$route.params;
    await this.newGame(params);
  }
}
</script>