<template>
  <div class="menu">
    <GameTitle></GameTitle>

    <nav>
      <router-link to="/game/3/single">Single player</router-link>
      <router-link to="/game/3/versus">Versus Battle</router-link>
      <router-link to="/game/5/versus">ROYAL BATtLE</router-link>
      <!-- <router-link to="/winners">Last winners</router-link> -->
      <router-link to="/about">About</router-link>
    </nav>
  </div>
</template>

<style scoped>
@media only screen and (max-width: 640px) {
  a{
    line-height: 60px !important;
    font-size: 20px !important;
  }
}

a {
  display: block;
  font-size: 30px;
  font-style: normal;
  text-decoration: none;
  line-height: 100px;
  color: antiquewhite;
  margin: 0px;
}
a:hover {
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import GameTitle from '@/components/GameTitle.vue'; // @ is an alias to /src

@Component({
  components: {
    GameTitle,
  },
})
export default class Menu extends Vue {
  private losung: string = 'hello';

  private changeMsg() {
    this.losung = Date.now().toString();
  }
}
</script>

