<template>
  <div class="cell" :bot="botTurn" :symbol="cellSymbol" @click="turn">{{cellSymbol}}</div>
</template>

<style scoped>
.cell{
  display: inline-block;
  width: 40px;
  height: 40px;
  font: bold 25px Arial; 
  line-height: 40px;
  text-align: center;
  background-color: gray;
  color: rgba(255, 255, 255, 0);
  font-weight: bold;
  margin: 1px;
  padding: 0px;
  cursor: pointer;
  transition-duration: 500ms;
}

.cell[symbol="."]:hover{
  background-color: greenyellow;
}
.cell:not([symbol="."]){
  color: white;
}
.cell:not([symbol="."]):hover{
  background-color: red;
}
.cell[bot="true"]{
  background-color: black !important;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { CellData, GameData, XOXO, XOXOArray, CellDataGetter } from '@/types';

import { Getter, Action } from 'vuex-class';

@Component
export default class Cell extends Vue {

  @Getter private readonly versus!: boolean;
  @Getter private readonly gameOver!: boolean;

  @Getter private readonly size!: number;
  @Getter private readonly symbol!: XOXO;

  // так как тут фабрика и мы возвращаем функцию, то синтаксис с get выглядет поинтересней
  @Getter private readonly getCellData!: CellDataGetter;

  // можно использовать getter из vuex напрямую и создавать computed метод
  // но зачем когда есть более короткий и красивый синтаксис

  // get versus(): boolean {
  //   return this.$store.getters.versus;
  // }

  @Prop() private readonly row!: number;
  @Prop() private readonly col!: number;

  @Action private readonly saveValue!: any;
  @Action private readonly changeSymbol!: any;

  get currentCellData(): XOXO {
    return this.getCellData(this.getPosition);
  }

  get isCellEmpty(): boolean {
    return (this.currentCellData === XOXO.empty);
  }

  get getPosition(): number {
    return (this.size * (this.row - 1)) + this.col;
  }

  // computed
  get cellSymbol(): string {
    switch (this.currentCellData) {
      case XOXO.x:
        return 'x';
      case XOXO.o:
        return 'o';
      default:
        return '.';
    }
  }

  get botTurn(): boolean {
      if ( !this.versus && this.symbol === XOXO.o && !this.gameOver) {
        return true;
      } else {
        return false;
      }
    }

  private async turn() {
    try {
      if (this.botTurn) {
        alert('Computer is thinking...please wait...');
      } else if (this.gameOver) {
        alert('Game is over! Sorry...');
      } else if (!this.isCellEmpty) {
        alert('This field is busy, already');
      } else {
        await this.saveValue({ position: this.getPosition, value: this.symbol });
        await this.changeSymbol();
        // await this.$store.dispatch('saveValue', { position: this.getPosition, value: this.getSymbol });
        // await this.$store.dispatch('changeSymbol');
      }
    } catch (e) {
      alert('Cant save your turn, try again!');
    }
  }
}
</script>