<template>
  <div class="game-title">
    <h2 v-if="small">XOXO <div class="sub">the game</div></h2>
    <h1 v-else>XOXO <div class="sub">the game</div></h1>
  </div>
</template>

<style scoped>
@media only screen and (max-width: 640px) {
  h1{
    font-size: 100px !important;
  }
  h1 .sub{
    font-size: 20px !important;
  }
}

h1{
  font-size: 200px;
  color: white;
  position: relative;
  opacity: 0.3;
}
h1 .sub{
  font-size: 40px;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 25%;
}

h2{
  font-size: 100px;
  color: white;
  opacity: 0.1;
  position: relative;
}
h2 .sub{
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 40%;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class GameTitle extends Vue {
  @Prop() private small!: boolean;
}
</script>
