<template>
  <div id="app">
    <div class="background"></div>
    <router-view/>
  </div>
</template>

<style lang="scss">
@font-face {
  font-family: Silkscreen;
  src: url('assets/fonts/slkscr.ttf');
}

#app {
  font-family: Silkscreen, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.background{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  background-image: url('assets/paralax/5.gif');
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

</style>
